<!DOCTYPE html>
<html>
  <head>
    <title>Golestan2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script> %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
  </head>

  <body>

  </body>
</html>
